<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.dao.UserDao">
    <resultMap id="User-ResultMap" type="com.demo.pojo.User">
        <result property="userId"        column="USER_ID"/>
        <result property="name"          column="NAME"/>
        <result property="residenceArea" column="RESIDENCE_AREA"/>
    </resultMap>

    <select id="selectUserById" resultMap="User-ResultMap">
        select * from cloud_user where user_id = #{userId}
    </select>
</mapper>